<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>点击查看大图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDC885841EE5553900FA5BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDC8859D1EE5553900FA5BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDC885A81EE5553900FA5BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
